@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

#container h1 {
  position: relative;
  display: block;
  font-size: 2.2em;
  text-align: center;
  text-transform: uppercase;
  color: #9E2621;
  width: 100%;
  padding: 10px 0;
  margin-top: 25px;
  margin-bottom: 20px;
}
#container h1 a {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  font-size: 0.40em;
  padding: 5px;
  background-color: #9E2621;
  color: white;
  text-decoration: none;
  text-transform: none;
  transform: translateY(-25%);
}
#container main {
  position: relative;
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
#container main article {
  width: 90%;
  margin-bottom: 10px;
}
#container main article a.progressive-borders, #container main article h5 > a {
  position: relative;
  text-transform: none;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
}
#container main article a.progressive-borders::before, #container main article h5 > a::before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
  width: 0%;
  transition: .5s;
  border-bottom: solid 1px #D3332C;
}
#container main article a.progressive-borders::after, #container main article h5 > a::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  transition: .5s;
  border-top: solid 1px #D3332C;
}
#container main article a.progressive-borders:hover::before, #container main article h5 > a:hover::before {
  width: 100%;
  border-bottom: solid 1px #D3332C;
}
#container main article a.progressive-borders:hover::after, #container main article h5 > a:hover::after {
  width: 100%;
  border-top: solid 1px #D3332C;
}
#container main article a.progressive-borders:hover + .category, #container main article h5 > a:hover + .category {
  opacity: 1;
}
#container main article .title {
  font-size: 1.7em;
}
#container main article .abstract {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 2em;
}
#container main article .date-author {
  font-style: italic;
  margin: 10px 0;
}
#container main article .date-author:first-letter {
  text-transform: capitalize;
}
#container main article .date-author .author {
  color: #D3332C;
  text-transform: capitalize;
  text-decoration: underline;
}
#container main article .readmore {
  float: right;
}
#container main article .category {
  margin-top: 5px;
  margin-left: 10px;
  opacity: 0;
  transition: 1s;
}
#container aside {
  padding: 20px 0;
  position: relative;
  width: 10%;
  text-align: center;
}
#container aside h2 {
  font-size: 1.7em;
  margin-bottom: 10px;
}
#container aside p {
  margin: 5px 0;
}
#container aside a {
  text-decoration: none;
}

.t-0 {
  font-size: 1em;
  color: #d3332c;
}

.t-1 {
  font-size: 1.06666667em;
  color: #cf322b;
}

.t-2 {
  font-size: 1.13333333em;
  color: #cb312a;
}

.t-3 {
  font-size: 1.2em;
  color: #c63029;
}

.t-4 {
  font-size: 1.26666667em;
  color: #c22f28;
}

.t-5 {
  font-size: 1.33333333em;
  color: #be2e28;
}

.t-6 {
  font-size: 1.4em;
  color: #ba2d27;
}

.t-7 {
  font-size: 1.46666667em;
  color: #b52c26;
}

.t-8 {
  font-size: 1.53333333em;
  color: #b12b25;
}

.t-9 {
  font-size: 1.6em;
  color: #ad2a24;
}

.t-10 {
  font-size: 1.66666667em;
  color: #a92923;
}

.t-11 {
  font-size: 1.73333333em;
  color: #a52822;
}

.t-12 {
  font-size: 1.8em;
  color: #a02721;
}

.t-13 {
  font-size: 1.86666667em;
  color: #9c2621;
}

.t-14 {
  font-size: 1.93333333em;
  color: #982520;
}

.t-15 {
  font-size: 2em;
  color: #94241f;
}

.t-16 {
  font-size: 2.06666667em;
  color: #8f231e;
}

.t-17 {
  font-size: 2.13333333em;
  color: #8b221d;
}

.t-18 {
  font-size: 2.2em;
  color: #87211c;
}

.t-19 {
  font-size: 2.26666667em;
  color: #83201b;
}

.t-20 {
  font-size: 2.33333333em;
  color: #7f1f1a;
}

.t-21 {
  font-size: 2.4em;
  color: #7a1e1a;
}

.t-22 {
  font-size: 2.46666667em;
  color: #761d19;
}

.t-23 {
  font-size: 2.53333333em;
  color: #721c18;
}

.t-24 {
  font-size: 2.6em;
  color: #6e1b17;
}

.t-25 {
  font-size: 2.66666667em;
  color: #6a1a16;
}

.t-26 {
  font-size: 2.73333333em;
  color: #651815;
}

.t-27 {
  font-size: 2.8em;
  color: #611714;
}

.t-28 {
  font-size: 2.86666667em;
  color: #5d1613;
}

.t-29 {
  font-size: 2.93333333em;
  color: #591512;
}

.t-30 {
  font-size: 3em;
  color: #541412;
}

.t-31 {
  font-size: 3.06666667em;
  color: #501311;
}

.t-32 {
  font-size: 3.13333333em;
  color: #4c1210;
}

.t-33 {
  font-size: 3.2em;
  color: #48110f;
}

.t-34 {
  font-size: 3.26666667em;
  color: #44100e;
}

.t-35 {
  font-size: 3.33333333em;
  color: #3f0f0d;
}

.t-36 {
  font-size: 3.4em;
  color: #3b0e0c;
}

.t-37 {
  font-size: 3.46666667em;
  color: #370d0b;
}

.t-38 {
  font-size: 3.53333333em;
  color: #330c0b;
}

.t-39 {
  font-size: 3.6em;
  color: #2e0b0a;
}

.t-40 {
  font-size: 3.66666667em;
  color: #2a0a09;
}

.t-41 {
  font-size: 3.73333333em;
  color: #260908;
}

.t-42 {
  font-size: 3.8em;
  color: #220807;
}

.t-43 {
  font-size: 3.86666667em;
  color: #1e0706;
}

.t-44 {
  font-size: 3.93333333em;
  color: #190605;
}

.t-45 {
  font-size: 4em;
  color: #150504;
}

.t-46 {
  font-size: 4.06666667em;
  color: #110404;
}

.t-47 {
  font-size: 4.13333333em;
  color: #0d0303;
}

.t-48 {
  font-size: 4.2em;
  color: #080202;
}

.t-49 {
  font-size: 4.26666667em;
  color: #040101;
}

.t-50 {
  font-size: 4.33333333em;
  color: black;
}

.t-51 {
  font-size: 4.4em;
  color: black;
}

.t-52 {
  font-size: 4.46666667em;
  color: black;
}

.t-53 {
  font-size: 4.53333333em;
  color: black;
}

.t-54 {
  font-size: 4.6em;
  color: black;
}

.t-55 {
  font-size: 4.66666667em;
  color: black;
}

.t-56 {
  font-size: 4.73333333em;
  color: black;
}

.t-57 {
  font-size: 4.8em;
  color: black;
}

.t-58 {
  font-size: 4.86666667em;
  color: black;
}

.t-59 {
  font-size: 4.93333333em;
  color: black;
}

.t-60 {
  font-size: 5em;
  color: black;
}

.t-61 {
  font-size: 5.06666667em;
  color: black;
}

.t-62 {
  font-size: 5.13333333em;
  color: black;
}

.t-63 {
  font-size: 5.2em;
  color: black;
}

.t-64 {
  font-size: 5.26666667em;
  color: black;
}

.t-65 {
  font-size: 5.33333333em;
  color: black;
}

.t-66 {
  font-size: 5.4em;
  color: black;
}

.t-67 {
  font-size: 5.46666667em;
  color: black;
}

.t-68 {
  font-size: 5.53333333em;
  color: black;
}

.t-69 {
  font-size: 5.6em;
  color: black;
}

.t-70 {
  font-size: 5.66666667em;
  color: black;
}

.t-71 {
  font-size: 5.73333333em;
  color: black;
}

.t-72 {
  font-size: 5.8em;
  color: black;
}

.t-73 {
  font-size: 5.86666667em;
  color: black;
}

.t-74 {
  font-size: 5.93333333em;
  color: black;
}

.t-75 {
  font-size: 6em;
  color: black;
}

.t-76 {
  font-size: 6.06666667em;
  color: black;
}

.t-77 {
  font-size: 6.13333333em;
  color: black;
}

.t-78 {
  font-size: 6.2em;
  color: black;
}

.t-79 {
  font-size: 6.26666667em;
  color: black;
}

.t-80 {
  font-size: 6.33333333em;
  color: black;
}

.t-81 {
  font-size: 6.4em;
  color: black;
}

.t-82 {
  font-size: 6.46666667em;
  color: black;
}

.t-83 {
  font-size: 6.53333333em;
  color: black;
}

.t-84 {
  font-size: 6.6em;
  color: black;
}

.t-85 {
  font-size: 6.66666667em;
  color: black;
}

.t-86 {
  font-size: 6.73333333em;
  color: black;
}

.t-87 {
  font-size: 6.8em;
  color: black;
}

.t-88 {
  font-size: 6.86666667em;
  color: black;
}

.t-89 {
  font-size: 6.93333333em;
  color: black;
}

.t-90 {
  font-size: 7em;
  color: black;
}

.t-91 {
  font-size: 7.06666667em;
  color: black;
}

.t-92 {
  font-size: 7.13333333em;
  color: black;
}

.t-93 {
  font-size: 7.2em;
  color: black;
}

.t-94 {
  font-size: 7.26666667em;
  color: black;
}

.t-95 {
  font-size: 7.33333333em;
  color: black;
}

.t-96 {
  font-size: 7.4em;
  color: black;
}

.t-97 {
  font-size: 7.46666667em;
  color: black;
}

.t-98 {
  font-size: 7.53333333em;
  color: black;
}

.t-99 {
  font-size: 7.6em;
  color: black;
}

.t-100 {
  font-size: 7.66666667em;
  color: black;
}

.c-0 {
  font-size: 1em;
  color: #d3332c;
}

.c-1 {
  font-size: 1.02em;
  color: #cf322b;
}

.c-2 {
  font-size: 1.04em;
  color: #cb312a;
}

.c-3 {
  font-size: 1.06em;
  color: #c63029;
}

.c-4 {
  font-size: 1.08em;
  color: #c22f28;
}

.c-5 {
  font-size: 1.1em;
  color: #be2e28;
}

.c-6 {
  font-size: 1.12em;
  color: #ba2d27;
}

.c-7 {
  font-size: 1.14em;
  color: #b52c26;
}

.c-8 {
  font-size: 1.16em;
  color: #b12b25;
}

.c-9 {
  font-size: 1.18em;
  color: #ad2a24;
}

.c-10 {
  font-size: 1.2em;
  color: #a92923;
}

.c-11 {
  font-size: 1.22em;
  color: #a52822;
}

.c-12 {
  font-size: 1.24em;
  color: #a02721;
}

.c-13 {
  font-size: 1.26em;
  color: #9c2621;
}

.c-14 {
  font-size: 1.28em;
  color: #982520;
}

.c-15 {
  font-size: 1.3em;
  color: #94241f;
}

.c-16 {
  font-size: 1.32em;
  color: #8f231e;
}

.c-17 {
  font-size: 1.34em;
  color: #8b221d;
}

.c-18 {
  font-size: 1.36em;
  color: #87211c;
}

.c-19 {
  font-size: 1.38em;
  color: #83201b;
}

.c-20 {
  font-size: 1.4em;
  color: #7f1f1a;
}

.c-21 {
  font-size: 1.42em;
  color: #7a1e1a;
}

.c-22 {
  font-size: 1.44em;
  color: #761d19;
}

.c-23 {
  font-size: 1.46em;
  color: #721c18;
}

.c-24 {
  font-size: 1.48em;
  color: #6e1b17;
}

.c-25 {
  font-size: 1.5em;
  color: #6a1a16;
}

.c-26 {
  font-size: 1.52em;
  color: #651815;
}

.c-27 {
  font-size: 1.54em;
  color: #611714;
}

.c-28 {
  font-size: 1.56em;
  color: #5d1613;
}

.c-29 {
  font-size: 1.58em;
  color: #591512;
}

.c-30 {
  font-size: 1.6em;
  color: #541412;
}

.c-31 {
  font-size: 1.62em;
  color: #501311;
}

.c-32 {
  font-size: 1.64em;
  color: #4c1210;
}

.c-33 {
  font-size: 1.66em;
  color: #48110f;
}

.c-34 {
  font-size: 1.68em;
  color: #44100e;
}

.c-35 {
  font-size: 1.7em;
  color: #3f0f0d;
}

.c-36 {
  font-size: 1.72em;
  color: #3b0e0c;
}

.c-37 {
  font-size: 1.74em;
  color: #370d0b;
}

.c-38 {
  font-size: 1.76em;
  color: #330c0b;
}

.c-39 {
  font-size: 1.78em;
  color: #2e0b0a;
}

.c-40 {
  font-size: 1.8em;
  color: #2a0a09;
}

.c-41 {
  font-size: 1.82em;
  color: #260908;
}

.c-42 {
  font-size: 1.84em;
  color: #220807;
}

.c-43 {
  font-size: 1.86em;
  color: #1e0706;
}

.c-44 {
  font-size: 1.88em;
  color: #190605;
}

.c-45 {
  font-size: 1.9em;
  color: #150504;
}

.c-46 {
  font-size: 1.92em;
  color: #110404;
}

.c-47 {
  font-size: 1.94em;
  color: #0d0303;
}

.c-48 {
  font-size: 1.96em;
  color: #080202;
}

.c-49 {
  font-size: 1.98em;
  color: #040101;
}

.c-50 {
  font-size: 2em;
  color: black;
}

.c-51 {
  font-size: 2.02em;
  color: black;
}

.c-52 {
  font-size: 2.04em;
  color: black;
}

.c-53 {
  font-size: 2.06em;
  color: black;
}

.c-54 {
  font-size: 2.08em;
  color: black;
}

.c-55 {
  font-size: 2.1em;
  color: black;
}

.c-56 {
  font-size: 2.12em;
  color: black;
}

.c-57 {
  font-size: 2.14em;
  color: black;
}

.c-58 {
  font-size: 2.16em;
  color: black;
}

.c-59 {
  font-size: 2.18em;
  color: black;
}

.c-60 {
  font-size: 2.2em;
  color: black;
}

.c-61 {
  font-size: 2.22em;
  color: black;
}

.c-62 {
  font-size: 2.24em;
  color: black;
}

.c-63 {
  font-size: 2.26em;
  color: black;
}

.c-64 {
  font-size: 2.28em;
  color: black;
}

.c-65 {
  font-size: 2.3em;
  color: black;
}

.c-66 {
  font-size: 2.32em;
  color: black;
}

.c-67 {
  font-size: 2.34em;
  color: black;
}

.c-68 {
  font-size: 2.36em;
  color: black;
}

.c-69 {
  font-size: 2.38em;
  color: black;
}

.c-70 {
  font-size: 2.4em;
  color: black;
}

.c-71 {
  font-size: 2.42em;
  color: black;
}

.c-72 {
  font-size: 2.44em;
  color: black;
}

.c-73 {
  font-size: 2.46em;
  color: black;
}

.c-74 {
  font-size: 2.48em;
  color: black;
}

.c-75 {
  font-size: 2.5em;
  color: black;
}

.c-76 {
  font-size: 2.52em;
  color: black;
}

.c-77 {
  font-size: 2.54em;
  color: black;
}

.c-78 {
  font-size: 2.56em;
  color: black;
}

.c-79 {
  font-size: 2.58em;
  color: black;
}

.c-80 {
  font-size: 2.6em;
  color: black;
}

.c-81 {
  font-size: 2.62em;
  color: black;
}

.c-82 {
  font-size: 2.64em;
  color: black;
}

.c-83 {
  font-size: 2.66em;
  color: black;
}

.c-84 {
  font-size: 2.68em;
  color: black;
}

.c-85 {
  font-size: 2.7em;
  color: black;
}

.c-86 {
  font-size: 2.72em;
  color: black;
}

.c-87 {
  font-size: 2.74em;
  color: black;
}

.c-88 {
  font-size: 2.76em;
  color: black;
}

.c-89 {
  font-size: 2.78em;
  color: black;
}

.c-90 {
  font-size: 2.8em;
  color: black;
}

.c-91 {
  font-size: 2.82em;
  color: black;
}

.c-92 {
  font-size: 2.84em;
  color: black;
}

.c-93 {
  font-size: 2.86em;
  color: black;
}

.c-94 {
  font-size: 2.88em;
  color: black;
}

.c-95 {
  font-size: 2.9em;
  color: black;
}

.c-96 {
  font-size: 2.92em;
  color: black;
}

.c-97 {
  font-size: 2.94em;
  color: black;
}

.c-98 {
  font-size: 2.96em;
  color: black;
}

.c-99 {
  font-size: 2.98em;
  color: black;
}

.c-100 {
  font-size: 3em;
  color: black;
}

form {
  position: relative;
  width: 40%;
}
form > * {
  margin-bottom: 10px;
  position: relative;
  display: block;
}
form #categories {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
form #tags {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form .label {
  font-size: 1.3em;
  margin-top: 15px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}
form h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
form textarea {
  width: calc(100% - 24px);
  min-height: 80px;
  resize: vertical;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #D3332C;
  color: white;
  outline: none;
}
form textarea:-moz-placeholder {
  color: #6A1A16;
}
form textarea::-moz-placeholder {
  color: #6A1A16;
}
form textarea:-ms-input-placeholder {
  color: #6A1A16;
}
form textarea::-webkit-input-placeholder {
  color: #6A1A16;
}
form textarea:focus {
  background-color: #9E2621;
}
form button {
  margin-top: 20px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #D3332C;
  color: white;
  outline: none;
}
form button:-moz-placeholder {
  color: #6A1A16;
}
form button::-moz-placeholder {
  color: #6A1A16;
}
form button:-ms-input-placeholder {
  color: #6A1A16;
}
form button::-webkit-input-placeholder {
  color: #6A1A16;
}
form button:focus {
  background-color: #9E2621;
}
form input {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #D3332C;
  color: white;
  outline: none;
  width: calc(100% - 24px);
}
form input:-moz-placeholder {
  color: #6A1A16;
}
form input::-moz-placeholder {
  color: #6A1A16;
}
form input:-ms-input-placeholder {
  color: #6A1A16;
}
form input::-webkit-input-placeholder {
  color: #6A1A16;
}
form input:focus {
  background-color: #9E2621;
}
form input[type="checkbox"] {
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border: none;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #D3332C;
  color: white;
  outline: none;
}
form input[type="checkbox"]:-moz-placeholder {
  color: #6A1A16;
}
form input[type="checkbox"]::-moz-placeholder {
  color: #6A1A16;
}
form input[type="checkbox"]:-ms-input-placeholder {
  color: #6A1A16;
}
form input[type="checkbox"]::-webkit-input-placeholder {
  color: #6A1A16;
}
form input[type="checkbox"]:focus {
  background-color: #9E2621;
}
form input[type="checkbox"] + label {
  padding: 10px;
  border: solid 1px #D3332C;
  margin: 3px;
  transition: .5s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}
form input[type="checkbox"] + label:hover {
  cursor: pointer;
}
form input[type="checkbox"]:checked + label {
  background-color: #D3332C;
  color: white;
}
form input[type="radio"] {
  display: none;
}
form input[type="radio"] + label {
  padding: 10px;
  border: solid 1px #D3332C;
  margin: 3px;
  transition: .5s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}
form input[type="radio"] + label:hover {
  cursor: pointer;
}
form input[type="radio"]:checked + label {
  background-color: #D3332C;
  color: white;
}
form .important {
  text-align: right;
  color: #D3332C;
}
form .important::before {
  content: '* ';
}
form .small-label {
  position: relative;
  font-size: .8em;
  text-align: center;
}

main .date-author {
  font-style: italic;
  margin: 10px 0;
  padding: 0px 40px;
}
main .date-author::before {
  content: "Post\E9  ";
}
main .date-author .author {
  color: #D3332C;
  text-transform: capitalize;
}
main .date-author a {
  color: #D3332C;
  text-transform: capitalize;
}
main article.article {
  font-family: 'Roboto', sans-serif;
  text-justify: inter-word;
  padding: 20px 40px;
}
main article.article a {
  color: inherit;
  text-decoration: none;
}
main article.article a:hover {
  text-decoration: underline;
}
main article.article h1, main article.article h2, main article.article h3, main article.article h4, main article.article h5, main article.article h6 {
  color: #9E2621;
  text-align: left !important;
  margin: 15px auto !important;
}
main article.article h1 {
  font-size: 2em !important;
}
main article.article h2 {
  font-size: 1.8em;
}
main article.article h3 {
  font-size: 1.7em;
}
main article.article h4 {
  font-size: 1.6em;
}
main article.article h5 {
  font-size: 1.5em;
}
main article.article h6 {
  font-size: 1.4em;
}
main article.article blockquote {
  margin: 20px auto;
  width: calc(100% - 120px);
  padding: 20px 40px;
  background-color: #fbebea;
  border-radius: 20px;
  display: block;
  position: relative;
  text-align: justify;
  font-style: italic;
}
main article.article blockquote::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 10px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("/assets/img/icon-quote.png");
  opacity: .4;
}
main article.article blockquote::after {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  bottom: 10px;
  height: 20px;
  width: 20px;
  background-size: contain;
  transform: rotate(180deg);
  background-image: url("/assets/img/icon-quote.png");
  opacity: .4;
}
main article.article p {
  text-indent: 2em;
  margin-top: 20px;
}
main article.article p:first-letter {
  font-size: 2em;
}
main article.article strong {
  font-weight: bold;
}
main article.article em {
  font-style: italic;
}

#submenu_profile {
  position: relative;
  height: 50px;
  width: 80%;
  list-style: none;
  background-color: #9E2621;
  padding: 0 10%;
}
#submenu_profile li {
  line-height: 50px;
  float: right;
  position: relative;
}
#submenu_profile li a {
  position: relative;
  display: block;
  height: 50px;
  color: white;
  text-decoration: none;
  padding: 0 20px;
  transition: .3s;
}
#submenu_profile li a:hover {
  background-color: #84201B;
}

html {
  height: 100%;
}

body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  height: calc(100% - 50px);
  padding: 50px 0 0 0;
  margin: 0;
  position: relative;
}

nav {
  background-color: #D3332C;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  transition: .5s;
}
nav ul {
  transform: translateX(-50%);
  margin-left: 50%;
  width: 80%;
  display: inline-block;
  padding: 0 20px;
}
nav ul h2 {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 20px;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: none;
  height: 50px;
  line-height: 50px;
  transition: .5s;
  border-top: 0px solid #D3332C;
  z-index: 5;
  font-size: 1.2em;
}
nav ul h2::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  text-align: center;
  height: 100%;
  width: 100%;
  content: attr(data);
  transition: .5s;
  z-index: 4;
  background-color: #9E2621;
}
nav ul h2:hover {
  cursor: pointer;
  transform: translateY(100%);
}
nav ul li {
  float: right;
}
nav ul li a {
  position: relative;
  margin: 0;
  padding: 0 20px;
  color: white;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  transition: .5s;
}
nav ul li a.active {
  background-color: #9E2621;
  transition: 0s;
}
nav ul li a.active:hover {
  cursor: pointer;
  transform: translateY(0%);
}
nav ul li a::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  text-align: center;
  height: 100%;
  width: 100%;
  content: attr(data);
  font-size: .6em;
  transition: .5s;
  z-index: 4;
  background-color: #9E2621;
}
nav ul li a:hover {
  cursor: pointer;
  transform: translateY(100%);
}

#container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  min-height: calc(100% - 50px);
}

footer {
  position: relative;
  display: block;
  height: 50px;
  text-align: center;
  width: 100%;
  line-height: 50px;
  z-index: 4;
  color: #9E2621;
}
footer a {
  color: inherit;
}
