<div class="contact">
    <h1>Sur ma route</h1>
    <p>Merci de ne pas spammer, sinon je vous tue. Bon en tout cas,
        j'espère que vous vous êtes rendu compte que ce site était une blague.
        Et que ça ne serait jamais ma façade professionnelle, du moins en l'état.
        Même si, mon <a target="_blank" href="https://archive.pw2.amnesia.cafe">site actuel</a>
        est encore plus dégueulasse. haha :'(</p>
    <p>Si jamais vous voulez vraiment me contacter, autrement que par le
        formulaire ci-dessous, bah j'ai une adresse e-mail :
        <a class="reverse" href="mailto:mail@removed.com"
           onmouseover="this.href=this.href.replace(/x/g,'');">moc.devomer@liam</a>.
    </p>
    <form ng-submit="send()">
        <input ng-model='maildata.name' type="text" placeholder="Nom Prénom" required>
        <input ng-model='maildata.email' type="email" placeholder="mail@removed.com" required>
        <input ng-model='maildata.subject' type="text" placeholder="Sujet" required>
        <textarea ng-model='maildata.mail' placeholder="Votre message" name="" id="" cols="30" rows="10"></textarea>
        <button type="submit">Envoyer</button>
    </form>
        <p>{{response}}</p>

</div>