@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/main.scss */
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
/* line 19, ../sass/main.scss */
html body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

/* line 29, ../sass/main.scss */
section {
  min-height: calc(100%);
  width: 100%;
  position: relative;
}
/* line 33, ../sass/main.scss */
section .gif {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  z-index: 5;
}
/* line 42, ../sass/main.scss */
section .left {
  position: absolute;
  z-index: 10;
}
/* line 47, ../sass/main.scss */
section .right {
  position: absolute;
  z-index: 10;
}

/* line 54, ../sass/main.scss */
.disclaimer {
  position: absolute;
  top: 50px;
  right: -190px;
  width: 200px;
  height: auto;
  font-size: 0.6em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 0 5px;
  opacity: .2;
  transition: .5s;
  z-index: 100;
}
/* line 70, ../sass/main.scss */
.disclaimer:hover {
  opacity: 1;
  right: 0px;
  pointer: cursor;
}

/* line 80, ../sass/main.scss */
.step0 .gif {
  background-image: url("../content/1/1.gif");
}
/* line 83, ../sass/main.scss */
.step0 .left {
  left: -100%;
  bottom: 2%;
  transition: 1s;
}
/* line 87, ../sass/main.scss */
.step0 .left.active {
  left: 50px;
}
/* line 91, ../sass/main.scss */
.step0 .right {
  right: -100%;
  top: 15%;
  transition: 1s;
}
/* line 95, ../sass/main.scss */
.step0 .right.active {
  right: 5%;
}
/* line 100, ../sass/main.scss */
.step0 .tache-verte {
  height: 289px;
  width: 328px;
  position: absolute;
  left: -5%;
  top: 70%;
  background-repeat: no-repeat;
  background-image: url("../content/doc-1/tache-verte.png");
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
/* line 111, ../sass/main.scss */
.step0 .tache-verte.active {
  opacity: 1;
}
/* line 116, ../sass/main.scss */
.step0 .tache-jaune {
  height: 436px;
  width: 458px;
  position: absolute;
  right: 30%;
  top: 20%;
  background-repeat: no-repeat;
  background-image: url("../content/doc-1/tache-jaune.png");
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
/* line 127, ../sass/main.scss */
.step0 .tache-jaune.active {
  opacity: 1;
}

/* line 134, ../sass/main.scss */
.step1 .gif {
  background-image: url("../content/2/2.gif");
}
/* line 137, ../sass/main.scss */
.step1 .left {
  left: -100%;
  top: 5%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}
/* line 144, ../sass/main.scss */
.step1 .left.active {
  left: 1%;
}
/* line 148, ../sass/main.scss */
.step1 .right {
  right: -100%;
  top: 70%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}
/* line 154, ../sass/main.scss */
.step1 .right.active {
  right: 1%;
}
/* line 159, ../sass/main.scss */
.step1 .tache-rouge {
  height: 378px;
  width: 381px;
  position: absolute;
  left: 70%;
  top: 10%;
  background-repeat: no-repeat;
  background-image: url("../content/doc-2/tache-rouge.png");
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
/* line 170, ../sass/main.scss */
.step1 .tache-rouge.active {
  opacity: 1;
}

/* line 178, ../sass/main.scss */
.step2 .gif {
  background-image: url("../content/3/3.gif");
}
/* line 181, ../sass/main.scss */
.step2 .right {
  right: -100%;
  top: 70%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}
/* line 187, ../sass/main.scss */
.step2 .right.active {
  right: 1%;
}
/* line 191, ../sass/main.scss */
.step2 .tache-bleu {
  height: 378px;
  width: 381px;
  position: absolute;
  left: 70%;
  top: 10%;
  background-repeat: no-repeat;
  background-image: url("../content/doc-3/tache-bleu.png");
  z-index: 1;
  opacity: 0;
  transition: 1s;
}
/* line 202, ../sass/main.scss */
.step2 .tache-bleu.active {
  opacity: 1;
}

/* line 209, ../sass/main.scss */
.step3 .gif {
  background-image: url("../content/4/4.gif");
}
/* line 212, ../sass/main.scss */
.step3 .left {
  left: -100%;
  top: 5%;
  padding: 1%;
  transition: 1s;
}
/* line 217, ../sass/main.scss */
.step3 .left.active {
  left: 1%;
}
/* line 222, ../sass/main.scss */
.step3 .right {
  right: -100%;
  top: 5%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 1s;
}
/* line 228, ../sass/main.scss */
.step3 .right.active {
  right: 1%;
}
